bazarr-config
gluetun-config
jellyseerr-config
joal
letsencrypt
prowlarr-config
qbittorrent-config
radarr-config
sonarr-config
wireguard/
logs/
cache/
log/
logs/
MediaCover/
torrents/
*.torrent
*.bak
*.zip
*.log
*.log.gz
logs.db
acme.json
.env
